{% extends "Stage_5_Main_Template.html" %}

{% block content %}
	<div class="Part-3">
		<div class="Section-Title"><a href="https://iosdevweekly.com">iOS Dev Weekly</a></div>
		<br>
			<div class="Concept-Title">What Is It?</div>
			<p>
				This seems to be a weblog that is dedicated to the topic of iOS Development.  It will discuss anything from plugins for Xcode to issues that developers are having with developing software on iOS.
			</p>
			<div class="Concept-Title">What's so Special about It?</div>
			<p>
				This seems to be a great place to go to keep up with the mobile development industry.  This site posts links to other website articles and resources, so this is will aid in further exploration of iOS development.  Also, this site is well-designed, and I can see myself being inspired by the aesthetics alone.  Of course, I could always subscribe to a mailing list, so I wouldn't have to go to the website at all for the latest articles.
			</p>
	</div>

{% endblock %}
