{% extends "Stage_4_Main_Template.html" %}

{% block content %}

	<div class="Part-4">
		<div class="Section-Title">Databases</div>
		<br>
			<div class="Concept-Title">Definition</div>
			<p>
				A database is a collection of structured data that can be appended, manipulated, and analyzed by a user or group of users.
			</p>
			<div class="Concept-Title">Relational Databases</div>
			<p>
				A relational database is organized into multiple tables, and each table can have commonality with another table, and this allows for collection and analysis of data among multiple tables.
			</p>
			<div class="Concept-Title">SQL</div>
			<p> 
				Structured Query Language.  This is a special-purpose programming language that is specific to databases, and is used to filter, collect, and sort data.
			</p>
			<div class="Concept-Title">Primary Key</div>
			<p> 
				This is an identifier that is unique to each entry - or row - in a table.  Each entry must be unique, and if no field - or column - can provide a unique identifier, then a new field must be created to provide a unique identifier.
			</p>
		
	</div>

{% endblock %}
