{% extends "Stage_5_Main_Template.html" %}

{% block content %}

	<div class="Part-1">
		<div class="Section-Title">iOS Development</div>
		<br>
		<div class="Concept-Title">Self-Explanatory Explanation</div>
		<p>
			Apple's iPhone is the archetype of the modern cellular telephone.  It ushered in a new era of mobile computing, an era that, prior to the iPhone's release back in 2007, seemed so far away.  Apple's iPad cemented us in this era, allowing some people to circumvent the need for a desktop computer entirely.  Now it seems as though practically EVERYBODY has either a "smartphone" or tablet computer, or both.
		</p>
		<p>
			Prior to release of the iPhone, smartphones were a niche market, catering to "power users" and corporate executives.  Smartphones were either simple to use, but limited in usability, such as the BlackBerry, or complex, but cumbersome and unwieldy as a result, such as Windows CE (a.k.a. PowerPC and Windows Mobile).  Apple's approach to making software was so refreshing that every smartphone manufacturer attempted to follow Apple's approach to designing a smartphone operating system.  Android may have become a good operating system in its own right, but it would not have been as great as it is if not for the iPhone's existence.  Microsoft gutted Windows CE, and Windows Phone resulted.  BlackBerry, once the reigning king of smartphones, is now fighting to maintain some form of relevance.
		</p>
		<div class="Concept-Title">What's so Special about It?</div>
		<p>
			As a result, the iPhone is now the most desirable platform on which to write software, due to the ease of distribution from software developers and the ease of access from users.  This area of software development has exploded in popularity over the years, and shows no signs of waning.
		</p>
		<p>
			Furthermore, in the same way that anybody can produce a television show, with the advent of YouTube, anybody can be a software developer with iOS.  In fact, some of the software developers are just single people; instead of seeing a company's name, you see just one person's first and last name!
		</p>
		<div class="Concept-Title">What's so Special about It...for Me?</div>
		<p>
			I've rediscovered computer programming in recent years, and have come to remember how much I enjoy it.  A few years ago, I took a college course in learning C and C++.  Since I have a MacBook Pro, I took that with me to class, and used Apple's Xcode to write programs.  I'm very curious about how robust this development program is.  Also, I think that using Xcode, and learning to develop programs for iOS, would aid in nurturing my creative side.
		</p>
		<div class="Concept-Title">The Future</div>
		<p>
			There is a lot that I would love to do in the Computer Science field, and this would be a good next step.  This will help me to familiarize myself with software development, and the trials and tribulations - and excitement - that it would entail.
		</p>
	</div>

{% endblock %}
