{% extends "Stage_4_Main_Template.html" %}

{% block content %}

	<div class="Commentary">
		<div class="Section-Title" id="Commentary">Commentary</div>
		<br>
			<div class="Concept-Title" id="Part-2a">Your thoughts?</div>
			<hr>
				<form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
					Name: <input name="username"><br>
					<div><textarea name="content" rows="3" cols="60"></textarea></div>
					<div><input type="submit" value="Post your comment."></div>
			  	</form>
			<hr>
			<br>
		    {% for greeting in greetings %}
		      {% if greeting.username %}
		        <b>{{ greeting.username }}
		        </b> wrote:
		      {% else %}
		       An anonymous person wrote:
		      {% endif %}
		      <blockquote>{{ greeting.content }}</blockquote>
		      at {{ greeting.date }}.
		      <br>
		      <br>
		      <br>
		    {% endfor %}
	</div>

{% endblock %}
