{% extends "Stage_4_Main_Template.html" %}

{% block content %}

	<div class="Part-3">
		<div class="Section-Title">HTML Templates</div>
		<br>
			<div class="Concept-Title">HTML Template</div>
			<p>
				An HTML template is a pre-written portion of HTML that is designed for repeated use, avoiding repetition on the user’s end.  Examples can be headers and footers.
			</p>
			<div class="Concept-Title">Dictionaries</div>
			<p>
				A dictionary is an advanced form of a list.  Whereas a list contains elements - values, really - with a dictionary, those values are also named.  As a result, a dictionary is a list that contains <i>pairs</i> of values; the name of the value, as well as the value, itself.  When using string substitution, dictionaries can be incorporated easily, since the name of the values can be used, allowing the values to be changed, while leaving the rest of the code unchanged.
			</p>
			<div class="Concept-Title">Web Template Engines</div>
			<p>
				A Web Template Engine is a module to a given programming language.  This module allows for more advanced HTML generation.  Code can be executed within an HTML prior to its actual rendering.  Examples of Web Template Engines are Django and Jinja.
			</p>

	</div>

{% endblock %}
