{% extends "Stage_5_Main_Template.html" %}

{% block content %}
	<div class="Part-2">
		<div class="Section-Title"><a href="https://developer.apple.com/resources/">Apple Developer Resources</a></div>
		<br>
			<div class="Concept-Title">What Is It?</div>
			<p>
				This is Apple's own library of all the software tools and documentation that one would need to create software on Apple's hardware.  This includes resources for software development on OS X, iOS, watchOS, and now the newly-released tvOS.
			</p>
			<div class="Concept-Title">What's so Special about It?</div>
			<p>
				This is an official set of resources, straight from the hardware manufacturer, itself.  This is where Xcode, Apple's Integrated Development Environment (IDE) can be found.  Also, this is a great location for learning about Swift, a recent programming language presented by Apple.
			</p>
	</div>

{% endblock %}
