html
{
	font-family: "Book Antiqua";
}

.Part-1
{
	padding: 10px;
	margin: 10px;
	border-style: solid;
	border-color: #16D161;	
}

.Part-2
{
	padding: 10px;
	margin: 10px;
	border-style: groove;
	border-color: #182dd1;	
}
